PORT=3000
MONGO_URI=mongodb+srv://yt:1EyUvsWpoAjKdWFr@cluster0.pe97ljy.mongodb.net/railsathi
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=7d
ATTENDANCE_DURATION_MINUTES=6
ATTENDANCE_JOB_INTERVAL_SECONDS=10